<?php

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__.'/src')
    ->in(__DIR__.'/tests')
;

return PhpCsFixer\Config::create()
    ->setRules([
        '@PSR2' => true,
        '@PSR1' => true,
        '@Symfony' => true,
        '@Symfony:risky' => true,
        'native_function_invocation' => true,
        'void_return' => true,
        'random_api_migration' => true,
        'pow_to_exponentiation' => true,
        'combine_nested_dirname' => true,
        '@PHP73Migration' => true,
    ])
    ->setIndent("\t")
    ->setFinder($finder)
;